# Se inicia con la limpieza de los valores nan

In [65]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [66]:
# se trae un dataframe que contine la ubicacion de las viviendas
# !git clone git@github.com:juanguzman2/Precio-de-viviendas-en-colmbia.git

esta base de datos tambien fue obtenida pr los estudiantes

In [67]:
dfubi=pd.read_csv(r'C:\Users\Juan Guzman\pviviendas\Data\davipola.csv')
dfubi.head(1)

,Código Departamento,Código Municipio,Nombre Departamento,Nombre Municipio,Tipo: Municipio / Isla / Área no municipalizada
0,05,5001.0,ANTIOQUIA,MEDELLÍN,Municipio

In [68]:
# importacion dataset limpio de columnas
dfdata=pd.read_csv(r'C:\Users\Juan Guzman\pviviendas\Data\dfdatac')
dfdata.head(1)

,tipo,url,titulo,precio,area,habitaciones,banos,garajes,descripcion,Balcón,...,Baño Auxiliar,Zona de lavandería,Zonas Verdes,Supermercados / C.Comerciales,Instalación de gas,Parqueadero Visitantes,Colegios / Universidades,Parques cercanos,Zona Residencial,Closet
0,Usada,https://www.fincaraiz.com.co/casa-campestre-en...,Casa Campestre en Venta Rionegro Vereda Guayabito,$ 1.380.000.000,"320,00 m²",5,6,2,Propiedad moderna con muy buenos acabados. Her...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Cruce de la ifnormacion

In [69]:
dfubi.head()

,Código Departamento,Código Municipio,Nombre Departamento,Nombre Municipio,Tipo: Municipio / Isla / Área no municipalizada
0,05,5001.0,ANTIOQUIA,MEDELLÍN,Municipio
1,05,5002.0,ANTIOQUIA,ABEJORRAL,Municipio
2,05,5004.0,ANTIOQUIA,ABRIAQUÍ,Municipio
3,05,5021.0,ANTIOQUIA,ALEJANDRÍA,Municipio
4,05,5030.0,ANTIOQUIA,AMAGÁ,Municipio

In [70]:
dfubi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1126 entries, 0 to 1125
Data columns (total 5 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Código Departamento                              1126 non-null   object
 1   Código Municipio                                 1121 non-null   float64
 2   Nombre Departamento                              1121 non-null   object
 3   Nombre Municipio                                 1121 non-null   object
 4   Tipo: Municipio / Isla / Área no municipalizada  1121 non-null   object
dtypes: float64(1), object(4)
memory usage: 44.1+ KB

In [71]:
dfdata.head()

,tipo,url,titulo,precio,area,habitaciones,banos,garajes,descripcion,Balcón,...,Baño Auxiliar,Zona de lavandería,Zonas Verdes,Supermercados / C.Comerciales,Instalación de gas,Parqueadero Visitantes,Colegios / Universidades,Parques cercanos,Zona Residencial,Closet
0,Usada,https://www.fincaraiz.com.co/casa-campestre-en...,Casa Campestre en Venta Rionegro Vereda Guayabito,$ 1.380.000.000,"320,00 m²",5,6,2,Propiedad moderna con muy buenos acabados. Her...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Usada,https://www.fincaraiz.com.co/finca-en-venta/el...,Finca en Venta El Retiro Arcadia,$ 2.900.000.000,"1,00 Ha",4,5,Sin especificar,propiedad con casa principal de 4 habitaciones...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nueva,https://www.fincaraiz.com.co/vivari-de-san-nic...,VIVARI DE SAN NICOLAS San Nicolás - Rionegro,$ 496.122.600,"91,97 m2",3,3,1,"6234794 Vivari San Nicolás, es un conjunto res...",1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Usada,https://www.fincaraiz.com.co/casa-en-venta/san...,Casa en Venta San Antonio de Pereira villas de...,$ 570.000.000,"150,00 m²",3,3,1,Casa en venta en Villas de Gualanday por 580 m...,1.0,...,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
4,Usada,https://www.fincaraiz.com.co/casa-en-venta/mar...,Casa en Venta Marinilla Monteverde,$ 290.000.000,"106,00 m²",3,3,1,Gran oportunidad Vendo casa unifamiliar no pag...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
dfdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2715 entries, 0 to 2714
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   tipo                           2715 non-null   object
 1   url                            2715 non-null   object
 2   titulo                         2715 non-null   object
 3   precio                         2715 non-null   object
 4   area                           2715 non-null   object
 5   habitaciones                   2715 non-null   object
 6   banos                          2715 non-null   object
 7   garajes                        2715 non-null   object
 8   descripcion                    2715 non-null   object
 9   Balcón                         1401 non-null   float64
 10  Trans. Público cercano         1604 non-null   float64
 11  caractint                      2715 non-null   object
 12  caractext                      2715 non-null   object
 13  caractsec                      2715 non-null   object
 14  estrato                        2635 non-null   object
 15  antiguedad                     2188 non-null   object
 16  Cocina Integral                1793 non-null   float64
 17  Baño Auxiliar                  1182 non-null   float64
 18  Zona de lavandería             1374 non-null   float64
 19  Zonas Verdes                   1168 non-null   float64
 20  Supermercados / C.Comerciales  1023 non-null   float64
 21  Instalación de gas             1101 non-null   float64
 22  Parqueadero Visitantes         861 non-null    float64
 23  Colegios / Universidades       959 non-null    float64
 24  Parques cercanos               1142 non-null   float64
 25  Zona Residencial               1345 non-null   float64
 26  Closet                         899 non-null    float64
dtypes: float64(13), object(14)
memory usage: 572.8+ KB

## Cruce de la iformacion

Para cruzar la informacion tomaremos el titulo de venta de la propiedad en el dataframe dfdata en donde aparece su ibicacion con el nombre del municioio del dataframe dfubi

El priemro se llama dfdata el cual en su columna 'tipo' y tiene algunos de los siguientes valores (Valores obtenidos mediante la siguiente linea : `dfdata['titulo'].unique()`): array(['Casa Campestre en Venta Rionegro Vereda Guayabito',
       'Finca en Venta El Retiro Arcadia',
       'VIVARI DE SAN NICOLAS San Nicolás - Rionegro', ...,
       'Casa en Venta Guarne VEREDA EL SANGO',
       'Casa en Venta Rionegro Vereda Carmin',
       'Apartamento en Venta La Ceja cra 20'], dtype=object)
El Segundo se llama dfubi el cual tiene la columna 'Nombre Municipio' y tiene algunos de los siguientes valores (Valores obtenidos mediante la siguiente linea : `dfubi['Nombre Municipio'].unique()`): 
array(['MEDELLÍN', 'ABEJORRAL', 'ABRIAQUÍ', ..., 'SANTA ROSALÍA',
       'CUMARIBO', nan], dtype=object)
Necesito que para el dataframe 1 me cree una nueva columna la cual si por ejemplo en el string del titulo sale el nombre del departamento del segundo dataframe, me agrege esa informacion a esa fila ademas de las otra columnas del dataframe que son : 
Index(['Código Departamento', 'Código Municipio', 'Nombre Departamento',
       'Nombre Municipio', 'Tipo: Municipio / Isla / Área no municipalizada'],
      dtype='object')

Tengo 2 dataframes de pandas:
El priemro se llama dfdata el cual en su columna 'tipo' y tiene algunos de los siguientes valores (Valores obtenidos mediante la siguiente linea : `dfdata['titulo'].unique()`): array(['Casa Campestre en Venta Rionegro Vereda Guayabito',
       'Finca en Venta El Retiro Arcadia',
       'VIVARI DE SAN NICOLAS San Nicolás - Rionegro', ...,
       'Casa en Venta Guarne VEREDA EL SANGO',
       'Casa en Venta Rionegro Vereda Carmin',
       'Apartamento en Venta La Ceja cra 20'], dtype=object)
El Segundo se llama dfubi el cual tiene la columna 'Nombre Municipio' y tiene algunos de los siguientes valores (Valores obtenidos mediante la siguiente linea : `dfubi['Nombre Municipio'].unique()`): 
array(['MEDELLÍN', 'ABEJORRAL', 'ABRIAQUÍ', ..., 'SANTA ROSALÍA',
       'CUMARIBO', nan], dtype=object)
dfubi tambien tiene las siguientes columnas:
Index(['Código Departamento', 'Código Municipio', 'Nombre Departamento',
       'Nombre Municipio', 'Tipo: Municipio / Isla / Área no municipalizada'],
      dtype='object')
Necesito que para el dataframe 1 me cree una nueva columna la cual si por ejemplo en el string del titulo sale el nombre del departamento del segundo dataframe, me agrege esa informacion a esa fila

In [74]:
df_muni_antioquia=dfubi[dfubi["Nombre Departamento"]=='ANTIOQUIA']

In [76]:
dfubi['Nombre Municipio'].unique()

array(['MEDELLÍN', 'ABEJORRAL', 'ABRIAQUÍ', ..., 'SANTA ROSALÍA',
       'CUMARIBO', nan], dtype=object)

In [77]:
dfubi.columns

Index(['Código Departamento', 'Código Municipio', 'Nombre Departamento',
       'Nombre Municipio', 'Tipo: Municipio / Isla / Área no municipalizada'],
      dtype='object')

In [75]:
dfdata['titulo'].unique()

array(['Casa Campestre en Venta Rionegro Vereda Guayabito',
       'Finca en Venta El Retiro Arcadia',
       'VIVARI DE SAN NICOLAS San Nicolás - Rionegro', ...,
       'Casa en Venta Guarne VEREDA EL SANGO',
       'Casa en Venta Rionegro Vereda Carmin',
       'Apartamento en Venta La Ceja cra 20'], dtype=object)

In [85]:

# Agrega una nueva columna al DataFrame dfdata con valores vacíos
dfdata['Nombre Municipio'] = pd.Series(['']*len(dfdata))

# Itera sobre cada fila del DataFrame dfdata y busca una coincidencia entre las palabras en 'titulo' y 'Nombre Municipio' en el DataFrame dfubi.
for i in range(len(dfdata)):
    for word in dfdata.iloc[i]['titulo'].split():
        if word.upper() in dfubi['Nombre Municipio'].str.upper().values:
            dfdata.at[i, 'Nombre Municipio'] = word.upper()

In [86]:
dfdata

,tipo,url,titulo,precio,area,habitaciones,banos,garajes,descripcion,Balcón,...,Zona de lavandería,Zonas Verdes,Supermercados / C.Comerciales,Instalación de gas,Parqueadero Visitantes,Colegios / Universidades,Parques cercanos,Zona Residencial,Closet,Nombre Municipio
0,Usada,https://www.fincaraiz.com.co/casa-campestre-en...,Casa Campestre en Venta Rionegro Vereda Guayabito,$ 1.380.000.000,"320,00 m²",5,6,2,Propiedad moderna con muy buenos acabados. Her...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIONEGRO
1,Usada,https://www.fincaraiz.com.co/finca-en-venta/el...,Finca en Venta El Retiro Arcadia,$ 2.900.000.000,"1,00 Ha",4,5,Sin especificar,propiedad con casa principal de 4 habitaciones...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RETIRO
2,Nueva,https://www.fincaraiz.com.co/vivari-de-san-nic...,VIVARI DE SAN NICOLAS San Nicolás - Rionegro,$ 496.122.600,"91,97 m2",3,3,1,"6234794 Vivari San Nicolás, es un conjunto res...",1.0,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,RIONEGRO
3,Usada,https://www.fincaraiz.com.co/casa-en-venta/san...,Casa en Venta San Antonio de Pereira villas de...,$ 570.000.000,"150,00 m²",3,3,1,Casa en venta en Villas de Gualanday por 580 m...,1.0,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,PEREIRA
4,Usada,https://www.fincaraiz.com.co/casa-en-venta/mar...,Casa en Venta Marinilla Monteverde,$ 290.000.000,"106,00 m²",3,3,1,Gran oportunidad Vendo casa unifamiliar no pag...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MARINILLA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2710,Usada,https://www.fincaraiz.com.co/casa-en-venta/gua...,Casa en Venta Guarne VEREDA EL SANGO,$ 480.000.000,"262,00 m²",3,2,1,Se vende casa en el municipio de Guarne vereda...,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GUARNE
2711,Usada,https://www.fincaraiz.com.co/apartamento-en-ve...,Apartamento en Venta Rionegro RIONEGRO,$ 350.000.000,"60,00 m²",2,2,1,Apartamento en Venta Sector Barro Blanco Rione...,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,RIONEGRO
2712,Usada,https://www.fincaraiz.com.co/casa-en-venta/rio...,Casa en Venta Rionegro Vereda Carmin,$ 3.000.000.000,"580,00 m²",4,6,2,Hermosa casa ubicado en Rionegro vereda Camin....,1.0,...,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0,NaN,RIONEGRO
2713,Usada,https://www.fincaraiz.com.co/casa-en-venta/la-...,Casa en Venta La Ceja LA CEJA,$ 260.000.000,"104,00 m²",2,1,Sin especificar,Casa en venta ubicada en La Ceja sector San Ca...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,
2714,Usada,https://www.fincaraiz.com.co/apartamento-en-ve...,Apartamento en Venta La Ceja cra 20,$ 400.000.000,"65,00 m²",3,2,1,.,NaN,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,

In [91]:
df_merged = pd.merge(dfdata, dfubi, on='Nombre Municipio')
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3480 entries, 0 to 3479
Data columns (total 32 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   tipo                                             3480 non-null   object
 1   url                                              3480 non-null   object
 2   titulo                                           3480 non-null   object
 3   precio                                           3480 non-null   object
 4   area                                             3480 non-null   object
 5   habitaciones                                     3480 non-null   object
 6   banos                                            3480 non-null   object
 7   garajes                                          3480 non-null   object
 8   descripcion                                      3480 non-null   object
 9   Balcón                                           1790 non-null   float64
 10  Trans. Público cercano                           2072 non-null   float64
 11  caractint                                        3480 non-null   object
 12  caractext                                        3480 non-null   object
 13  caractsec                                        3480 non-null   object
 14  estrato                                          3363 non-null   object
 15  antiguedad                                       2798 non-null   object
 16  Cocina Integral                                  2349 non-null   float64
 17  Baño Auxiliar                                    1527 non-null   float64
 18  Zona de lavandería                               1865 non-null   float64
 19  Zonas Verdes                                     1599 non-null   float64
 20  Supermercados / C.Comerciales                    1391 non-null   float64
 21  Instalación de gas                               1502 non-null   float64
 22  Parqueadero Visitantes                           1174 non-null   float64
 23  Colegios / Universidades                         1341 non-null   float64
 24  Parques cercanos                                 1475 non-null   float64
 25  Zona Residencial                                 1784 non-null   float64
 26  Closet                                           1256 non-null   float64
 27  Nombre Municipio                                 3480 non-null   object
 28  Código Departamento                              3480 non-null   object
 29  Código Municipio                                 3480 non-null   float64
 30  Nombre Departamento                              3480 non-null   object
 31  Tipo: Municipio / Isla / Área no municipalizada  3480 non-null   object
dtypes: float64(14), object(18)
memory usage: 897.2+ KB