# Se inicia con la limpieza de los valores nan

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
# se trae un dataframe que contine la ubicacion de las viviendas
# !git clone git@github.com:juanguzman2/Precio-de-viviendas-en-colmbia.git

esta base de datos tambien fue obtenida pr los estudiantes

In [30]:
dfubi=pd.read_csv(r'C:\Users\Juan Guzman\pviviendas\Data\davipola.csv')
dfubi.head(1)

,Código Departamento,Código Municipio,Nombre Departamento,Nombre Municipio,Tipo: Municipio / Isla / Área no municipalizada
0,05,5001.0,ANTIOQUIA,MEDELLÍN,Municipio

In [31]:
# importacion dataset limpio de columnas
dfdata=pd.read_csv(r'C:\Users\Juan Guzman\pviviendas\Data\dfdatac')
dfdata.head(1)

,tipo,url,titulo,precio,area,habitaciones,banos,garajes,descripcion,Balcón,...,Baño Auxiliar,Zona de lavandería,Zonas Verdes,Supermercados / C.Comerciales,Instalación de gas,Parqueadero Visitantes,Colegios / Universidades,Parques cercanos,Zona Residencial,Closet
0,Usada,https://www.fincaraiz.com.co/casa-campestre-en...,Casa Campestre en Venta Rionegro Vereda Guayabito,$ 1.380.000.000,"320,00 m²",5,6,2,Propiedad moderna con muy buenos acabados. Her...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Cruce de la ifnormacion

In [62]:
dfubi.head()

,Código Departamento,Código Municipio,Nombre Departamento,Nombre Municipio,Tipo: Municipio / Isla / Área no municipalizada
0,05,5001.0,ANTIOQUIA,MEDELLÍN,Municipio
1,05,5002.0,ANTIOQUIA,ABEJORRAL,Municipio
2,05,5004.0,ANTIOQUIA,ABRIAQUÍ,Municipio
3,05,5021.0,ANTIOQUIA,ALEJANDRÍA,Municipio
4,05,5030.0,ANTIOQUIA,AMAGÁ,Municipio

In [63]:
dfubi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1126 entries, 0 to 1125
Data columns (total 5 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Código Departamento                              1126 non-null   object
 1   Código Municipio                                 1121 non-null   float64
 2   Nombre Departamento                              1121 non-null   object
 3   Nombre Municipio                                 1121 non-null   object
 4   Tipo: Municipio / Isla / Área no municipalizada  1121 non-null   object
dtypes: float64(1), object(4)
memory usage: 44.1+ KB

In [64]:
dfdata.head()

,tipo,url,titulo,precio,area,habitaciones,banos,garajes,descripcion,Balcón,...,Baño Auxiliar,Zona de lavandería,Zonas Verdes,Supermercados / C.Comerciales,Instalación de gas,Parqueadero Visitantes,Colegios / Universidades,Parques cercanos,Zona Residencial,Closet
0,Usada,https://www.fincaraiz.com.co/casa-campestre-en...,Casa Campestre en Venta Rionegro Vereda Guayabito,$ 1.380.000.000,"320,00 m²",5,6,2,Propiedad moderna con muy buenos acabados. Her...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Usada,https://www.fincaraiz.com.co/finca-en-venta/el...,Finca en Venta El Retiro Arcadia,$ 2.900.000.000,"1,00 Ha",4,5,Sin especificar,propiedad con casa principal de 4 habitaciones...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nueva,https://www.fincaraiz.com.co/vivari-de-san-nic...,VIVARI DE SAN NICOLAS San Nicolás - Rionegro,$ 496.122.600,"91,97 m2",3,3,1,"6234794 Vivari San Nicolás, es un conjunto res...",1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Usada,https://www.fincaraiz.com.co/casa-en-venta/san...,Casa en Venta San Antonio de Pereira villas de...,$ 570.000.000,"150,00 m²",3,3,1,Casa en venta en Villas de Gualanday por 580 m...,1.0,...,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
4,Usada,https://www.fincaraiz.com.co/casa-en-venta/mar...,Casa en Venta Marinilla Monteverde,$ 290.000.000,"106,00 m²",3,3,1,Gran oportunidad Vendo casa unifamiliar no pag...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
dfdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2715 entries, 0 to 2714
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   tipo                           2715 non-null   object
 1   url                            2715 non-null   object
 2   titulo                         2715 non-null   object
 3   precio                         2715 non-null   object
 4   area                           2715 non-null   object
 5   habitaciones                   2715 non-null   object
 6   banos                          2715 non-null   object
 7   garajes                        2715 non-null   object
 8   descripcion                    2715 non-null   object
 9   Balcón                         1401 non-null   float64
 10  Trans. Público cercano         1604 non-null   float64
 11  caractint                      2715 non-null   object
 12  caractext                      2715 non-null   object
 13  caractsec                      2715 non-null   object
 14  estrato                        2635 non-null   object
 15  antiguedad                     2188 non-null   object
 16  Cocina Integral                1793 non-null   float64
 17  Baño Auxiliar                  1182 non-null   float64
 18  Zona de lavandería             1374 non-null   float64
 19  Zonas Verdes                   1168 non-null   float64
 20  Supermercados / C.Comerciales  1023 non-null   float64
 21  Instalación de gas             1101 non-null   float64
 22  Parqueadero Visitantes         861 non-null    float64
 23  Colegios / Universidades       959 non-null    float64
 24  Parques cercanos               1142 non-null   float64
 25  Zona Residencial               1345 non-null   float64
 26  Closet                         899 non-null    float64
dtypes: float64(13), object(14)
memory usage: 572.8+ KB

## Cruce de la iformacion