# se dara un primer vistaso al comportamiento de las varibales

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

# datos

## explicacion base de datos

In [ ]:
# !git clone git@github.com:juanguzman2/Precio-de-viviendas-en-colmbia.git

In [60]:
dfp=pd.read_csv(r'C:\Users\Juan Guzman\pviviendas\Data\dfclean')
dfp.head()

,tipo,url,titulo,precio,area,habitaciones,banos,garajes,descripcion,balcon,...,parqueadero visitantes,colegios / universidades,parques cercanos,zona residencial,closet,nombre municipio,codigo departamento,codigo municipio,nombre departamento,tipo: municipio / isla / area no municipalizada
0,0,https://www.fincaraiz.com.co/casa-campestre-en...,Casa Campestre en Venta Rionegro Vereda Guayabito,1380000000,32000.0,5.0,6.0,2,Propiedad moderna con muy buenos acabados. Her...,1.0,...,0.0,0.0,0.0,0.0,0.0,RIONEGRO,5,5615.0,ANTIOQUIA,Municipio
1,1,https://www.fincaraiz.com.co/vivari-de-san-nic...,VIVARI DE SAN NICOLAS San Nicolás - Rionegro,496122600,91972.0,3.0,3.0,1,"6234794 Vivari San Nicolás, es un conjunto res...",1.0,...,0.0,0.0,0.0,0.0,0.0,RIONEGRO,5,5615.0,ANTIOQUIA,Municipio
2,1,https://www.fincaraiz.com.co/altos-de-santana/...,ALTOS DE SANTANA Oriente Antioqueño - Rionegro,360002000,73372.0,3.0,3.0,0,6351568 Proyecto de apartamentos de 2 y 3 habi...,0.0,...,0.0,1.0,0.0,0.0,0.0,RIONEGRO,5,5615.0,ANTIOQUIA,Municipio
3,0,https://www.fincaraiz.com.co/casa-en-venta/rio...,Casa en Venta Rionegro Llano Grande,1350000000,28200.0,4.0,5.0,4,Casa en venta en exclusiva unidad cerrada en ...,1.0,...,0.0,1.0,0.0,1.0,1.0,RIONEGRO,5,5615.0,ANTIOQUIA,Municipio
4,0,https://www.fincaraiz.com.co/casa-en-venta/rio...,Casa en Venta Rionegro El Porvenir,950000000,23000.0,3.0,3.0,2,Hermosa casa de 3 niveles en Venta en Lotus Ex...,0.0,...,0.0,0.0,0.0,0.0,0.0,RIONEGRO,5,5615.0,ANTIOQUIA,Municipio

In [62]:
dfp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2053 entries, 0 to 2052
Data columns (total 29 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   tipo                                             2053 non-null   int64
 1   url                                              2053 non-null   object
 2   titulo                                           2053 non-null   object
 3   precio                                           2053 non-null   int64
 4   area                                             2053 non-null   float64
 5   habitaciones                                     2053 non-null   float64
 6   banos                                            2053 non-null   float64
 7   garajes                                          2053 non-null   int64
 8   descripcion                                      2053 non-null   object
 9   balcon                                           2053 non-null   float64
 10  trans. publico cercano                           2053 non-null   float64
 11  estrato                                          2053 non-null   float64
 12  antiguedad                                       2053 non-null   float64
 13  cocina integral                                  2053 non-null   float64
 14  bano auxiliar                                    2053 non-null   float64
 15  zona de lavanderia                               2053 non-null   float64
 16  zonas verdes                                     2053 non-null   float64
 17  supermercados / c.comerciales                    2053 non-null   float64
 18  instalacion de gas                               2053 non-null   float64
 19  parqueadero visitantes                           2053 non-null   float64
 20  colegios / universidades                         2053 non-null   float64
 21  parques cercanos                                 2053 non-null   float64
 22  zona residencial                                 2053 non-null   float64
 23  closet                                           2053 non-null   float64
 24  nombre municipio                                 2053 non-null   object
 25  codigo departamento                              2053 non-null   int64
 26  codigo municipio                                 2053 non-null   float64
 27  nombre departamento                              2053 non-null   object
 28  tipo: municipio / isla / area no municipalizada  2053 non-null   object
dtypes: float64(19), int64(4), object(6)
memory usage: 465.3+ KB

# se iniciara con un arreglo al nombre de las nombre de columnas

In [66]:
dfp.columns

Index(['tipo', 'url', 'titulo', 'precio', 'area', 'habitaciones', 'banos',
       'garajes', 'descripcion', 'balcon', 'trans. publico cercano', 'estrato',
       'antiguedad', 'cocina integral', 'bano auxiliar', 'zona de lavanderia',
       'zonas verdes', 'supermercados / c.comerciales', 'instalacion de gas',
       'parqueadero visitantes', 'colegios / universidades',
       'parques cercanos', 'zona residencial', 'closet', 'nombre municipio',
       'codigo departamento', 'codigo municipio', 'nombre departamento',
       'tipo: municipio / isla / area no municipalizada'],
      dtype='object')

In [67]:
cols = {'area':'area m2','trans. publico cercano': 'trasn. publico',
        'cocina integral' : 'cocina', 'bano auxiliar':'bano aux',
        'zona de lavanderia' : 'zona lavanderia' , 'supermercados / c.comerciales': 'supermercado o cc',
        'nombre municipio': 'municipio', 'nombre departamento':'departamento',
        'tipo: municipio / isla / area no municipalizada':'tipo vivienda'}
dfp = dfp.rename(columns=cols)

## seleccion de columnas para estucio

In [73]:
colsfuera = ['url', 'titulo', 'descripcion', 'codigo departamento', 'codigo municipio', 'departamento']
colanalizar = [columna for columna in dfp.columns if columna not in colsfuera]
dfpa = dfp[colanalizar]
dfpa.columns

Index(['tipo', 'precio', 'area m2', 'habitaciones', 'banos', 'garajes',
       'balcon', 'trasn. publico', 'estrato', 'antiguedad', 'cocina',
       'bano aux', 'zona lavanderia', 'zonas verdes', 'supermercado o cc',
       'instalacion de gas', 'parqueadero visitantes',
       'colegios / universidades', 'parques cercanos', 'zona residencial',
       'closet', 'municipio', 'tipo vivienda'],
      dtype='object')

In [75]:
dfpa.describe()

,tipo,precio,area m2,habitaciones,banos,garajes,balcon,trasn. publico,estrato,antiguedad,...,bano aux,zona lavanderia,zonas verdes,supermercado o cc,instalacion de gas,parqueadero visitantes,colegios / universidades,parques cercanos,zona residencial,closet
count,2053.000000,2.053000e+03,2053.000000,2053.000000,2053.000000,2053.000000,2053.000000,2053.000000,2053.000000,2053.000000,...,2053.000000,2053.000000,2053.000000,2053.000000,2053.000000,2053.000000,2053.000000,2053.000000,2053.000000,2053.000000
mean,0.018022,1.051505e+09,15507.329524,3.273746,3.040429,1.679006,0.522163,0.582562,4.142718,1.721383,...,0.452509,0.532392,0.462250,0.385777,0.415490,0.335606,0.369216,0.416464,0.516318,0.373600
std,0.133065,4.889054e+09,18712.388279,1.354394,1.505617,2.059243,0.499630,0.493257,0.948782,1.375898,...,0.497861,0.499071,0.498694,0.486897,0.492926,0.472317,0.482710,0.493092,0.499855,0.483877
min,0.000000,9.500000e+07,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,3.200000e+08,5600.000000,3.000000,2.000000,1.000000,0.000000,0.000000,3.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,5.200000e+08,8200.000000,3.000000,3.000000,1.000000,1.000000,1.000000,4.000000,1.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,0.000000,1.200000e+09,20000.000000,4.000000,4.000000,2.000000,1.000000,1.000000,5.000000,3.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.000000,2.150000e+11,173002.000000,21.000000,23.000000,11.000000,1.000000,1.000000,6.000000,4.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## analisis por variables