# Se inicia con la limpieza de los valores nan

In [45]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [46]:
# se trae un dataframe que contine la ubicacion de las viviendas
# !git clone git@github.com:juanguzman2/Precio-de-viviendas-en-colmbia.git

esta base de datos tambien fue obtenida pr los estudiantes

In [47]:
dfubi=pd.read_csv(r'C:\Users\Juan Guzman\pviviendas\Data\davipola.csv')
dfubi.head(1)

,Código Departamento,Código Municipio,Nombre Departamento,Nombre Municipio,Tipo: Municipio / Isla / Área no municipalizada
0,05,5001.0,ANTIOQUIA,MEDELLÍN,Municipio

In [48]:
# importacion dataset limpio de columnas
dfdata=pd.read_csv(r'C:\Users\Juan Guzman\pviviendas\Data\dfdatac')
dfdata.head(1)

,tipo,url,titulo,precio,area,habitaciones,banos,garajes,descripcion,Balcón,...,Baño Auxiliar,Zona de lavandería,Zonas Verdes,Supermercados / C.Comerciales,Instalación de gas,Parqueadero Visitantes,Colegios / Universidades,Parques cercanos,Zona Residencial,Closet
0,Usada,https://www.fincaraiz.com.co/casa-campestre-en...,Casa Campestre en Venta Rionegro Vereda Guayabito,$ 1.380.000.000,"320,00 m²",5,6,2,Propiedad moderna con muy buenos acabados. Her...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Cruce de la ifnormacion

In [49]:
dfubi.head()

,Código Departamento,Código Municipio,Nombre Departamento,Nombre Municipio,Tipo: Municipio / Isla / Área no municipalizada
0,05,5001.0,ANTIOQUIA,MEDELLÍN,Municipio
1,05,5002.0,ANTIOQUIA,ABEJORRAL,Municipio
2,05,5004.0,ANTIOQUIA,ABRIAQUÍ,Municipio
3,05,5021.0,ANTIOQUIA,ALEJANDRÍA,Municipio
4,05,5030.0,ANTIOQUIA,AMAGÁ,Municipio

In [50]:
dfubi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1126 entries, 0 to 1125
Data columns (total 5 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Código Departamento                              1126 non-null   object
 1   Código Municipio                                 1121 non-null   float64
 2   Nombre Departamento                              1121 non-null   object
 3   Nombre Municipio                                 1121 non-null   object
 4   Tipo: Municipio / Isla / Área no municipalizada  1121 non-null   object
dtypes: float64(1), object(4)
memory usage: 44.1+ KB

In [51]:
dfdata.head()

,tipo,url,titulo,precio,area,habitaciones,banos,garajes,descripcion,Balcón,...,Baño Auxiliar,Zona de lavandería,Zonas Verdes,Supermercados / C.Comerciales,Instalación de gas,Parqueadero Visitantes,Colegios / Universidades,Parques cercanos,Zona Residencial,Closet
0,Usada,https://www.fincaraiz.com.co/casa-campestre-en...,Casa Campestre en Venta Rionegro Vereda Guayabito,$ 1.380.000.000,"320,00 m²",5,6,2,Propiedad moderna con muy buenos acabados. Her...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Usada,https://www.fincaraiz.com.co/finca-en-venta/el...,Finca en Venta El Retiro Arcadia,$ 2.900.000.000,"1,00 Ha",4,5,Sin especificar,propiedad con casa principal de 4 habitaciones...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nueva,https://www.fincaraiz.com.co/vivari-de-san-nic...,VIVARI DE SAN NICOLAS San Nicolás - Rionegro,$ 496.122.600,"91,97 m2",3,3,1,"6234794 Vivari San Nicolás, es un conjunto res...",1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Usada,https://www.fincaraiz.com.co/casa-en-venta/san...,Casa en Venta San Antonio de Pereira villas de...,$ 570.000.000,"150,00 m²",3,3,1,Casa en venta en Villas de Gualanday por 580 m...,1.0,...,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
4,Usada,https://www.fincaraiz.com.co/casa-en-venta/mar...,Casa en Venta Marinilla Monteverde,$ 290.000.000,"106,00 m²",3,3,1,Gran oportunidad Vendo casa unifamiliar no pag...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
dfdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2715 entries, 0 to 2714
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   tipo                           2715 non-null   object
 1   url                            2715 non-null   object
 2   titulo                         2715 non-null   object
 3   precio                         2715 non-null   object
 4   area                           2715 non-null   object
 5   habitaciones                   2715 non-null   object
 6   banos                          2715 non-null   object
 7   garajes                        2715 non-null   object
 8   descripcion                    2715 non-null   object
 9   Balcón                         1401 non-null   float64
 10  Trans. Público cercano         1604 non-null   float64
 11  estrato                        2635 non-null   object
 12  antiguedad                     2188 non-null   object
 13  Cocina Integral                1793 non-null   float64
 14  Baño Auxiliar                  1182 non-null   float64
 15  Zona de lavandería             1374 non-null   float64
 16  Zonas Verdes                   1168 non-null   float64
 17  Supermercados / C.Comerciales  1023 non-null   float64
 18  Instalación de gas             1101 non-null   float64
 19  Parqueadero Visitantes         861 non-null    float64
 20  Colegios / Universidades       959 non-null    float64
 21  Parques cercanos               1142 non-null   float64
 22  Zona Residencial               1345 non-null   float64
 23  Closet                         899 non-null    float64
dtypes: float64(13), object(11)
memory usage: 509.2+ KB

# filtro ubicacion

In [53]:
df_antioquia = dfubi[dfubi['Nombre Departamento'] == 'ANTIOQUIA']

In [54]:
df_antioquia.head()

,Código Departamento,Código Municipio,Nombre Departamento,Nombre Municipio,Tipo: Municipio / Isla / Área no municipalizada
0,05,5001.0,ANTIOQUIA,MEDELLÍN,Municipio
1,05,5002.0,ANTIOQUIA,ABEJORRAL,Municipio
2,05,5004.0,ANTIOQUIA,ABRIAQUÍ,Municipio
3,05,5021.0,ANTIOQUIA,ALEJANDRÍA,Municipio
4,05,5030.0,ANTIOQUIA,AMAGÁ,Municipio

In [55]:
df_antioquia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125 entries, 0 to 124
Data columns (total 5 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Código Departamento                              125 non-null    object
 1   Código Municipio                                 125 non-null    float64
 2   Nombre Departamento                              125 non-null    object
 3   Nombre Municipio                                 125 non-null    object
 4   Tipo: Municipio / Isla / Área no municipalizada  125 non-null    object
dtypes: float64(1), object(4)
memory usage: 5.9+ KB

In [56]:
df_antioquia['Nombre Municipio'].unique()

array(['MEDELLÍN', 'ABEJORRAL', 'ABRIAQUÍ', 'ALEJANDRÍA', 'AMAGÁ',
       'AMALFI', 'ANDES', 'ANGELÓPOLIS', 'ANGOSTURA', 'ANORÍ',
       'SANTA FÉ DE ANTIOQUIA', 'ANZÁ', 'APARTADÓ', 'ARBOLETES',
       'ARGELIA', 'ARMENIA', 'BARBOSA', 'BELMIRA', 'BELLO', 'BETANIA',
       'BETULIA', 'CIUDAD BOLÍVAR', 'BRICEÑO', 'BURITICÁ', 'CÁCERES',
       'CAICEDO', 'CALDAS', 'CAMPAMENTO', 'CAÑASGORDAS', 'CARACOLÍ',
       'CARAMANTA', 'CAREPA', 'EL CARMEN DE VIBORAL', 'CAROLINA',
       'CAUCASIA', 'CHIGORODÓ', 'CISNEROS', 'COCORNÁ', 'CONCEPCIÓN',
       'CONCORDIA', 'COPACABANA', 'DABEIBA', 'DONMATÍAS', 'EBÉJICO',
       'EL BAGRE', 'ENTRERRÍOS', 'ENVIGADO', 'FREDONIA', 'FRONTINO',
       'GIRALDO', 'GIRARDOTA', 'GÓMEZ PLATA', 'GRANADA', 'GUADALUPE',
       'GUARNE', 'GUATAPÉ', 'HELICONIA', 'HISPANIA', 'ITAGÜÍ', 'ITUANGO',
       'JARDÍN', 'JERICÓ', 'LA CEJA', 'LA ESTRELLA', 'LA PINTADA',
       'LA UNIÓN', 'LIBORINA', 'MACEO', 'MARINILLA', 'MONTEBELLO',
       'MURINDÓ', 'MUTATÁ', 'NARIÑO', 'NECOCLÍ', 'NECHÍ', 'OLAYA',
       'PEÑOL', 'PEQUE', 'PUEBLORRICO', 'PUERTO BERRÍO', 'PUERTO NARE',
       'PUERTO TRIUNFO', 'REMEDIOS', 'RETIRO', 'RIONEGRO', 'SABANALARGA',
       'SABANETA', 'SALGAR', 'SAN ANDRÉS DE CUERQUÍA', 'SAN CARLOS',
       'SAN FRANCISCO', 'SAN JERÓNIMO', 'SAN JOSÉ DE LA MONTAÑA',
       'SAN JUAN DE URABÁ', 'SAN LUIS', 'SAN PEDRO DE LOS MILAGROS',
       'SAN PEDRO DE URABÁ', 'SAN RAFAEL', 'SAN ROQUE',
       'SAN VICENTE FERRER', 'SANTA BÁRBARA', 'SANTA ROSA DE OSOS',
       'SANTO DOMINGO', 'EL SANTUARIO', 'SEGOVIA', 'SONSÓN', 'SOPETRÁN',
       'TÁMESIS', 'TARAZÁ', 'TARSO', 'TITIRIBÍ', 'TOLEDO', 'TURBO',
       'URAMITA', 'URRAO', 'VALDIVIA', 'VALPARAÍSO', 'VEGACHÍ', 'VENECIA',
       'VIGÍA DEL FUERTE', 'YALÍ', 'YARUMAL', 'YOLOMBÓ', 'YONDÓ',
       'ZARAGOZA'], dtype=object)

## Cruce de la iformacion

Para cruzar la informacion tomaremos el titulo de venta de la propiedad en el dataframe dfdata en donde aparece su ibicacion con el nombre del municioio del dataframe dfubi

In [57]:
df_antioquia['Nombre Municipio'].unique()

array(['MEDELLÍN', 'ABEJORRAL', 'ABRIAQUÍ', 'ALEJANDRÍA', 'AMAGÁ',
       'AMALFI', 'ANDES', 'ANGELÓPOLIS', 'ANGOSTURA', 'ANORÍ',
       'SANTA FÉ DE ANTIOQUIA', 'ANZÁ', 'APARTADÓ', 'ARBOLETES',
       'ARGELIA', 'ARMENIA', 'BARBOSA', 'BELMIRA', 'BELLO', 'BETANIA',
       'BETULIA', 'CIUDAD BOLÍVAR', 'BRICEÑO', 'BURITICÁ', 'CÁCERES',
       'CAICEDO', 'CALDAS', 'CAMPAMENTO', 'CAÑASGORDAS', 'CARACOLÍ',
       'CARAMANTA', 'CAREPA', 'EL CARMEN DE VIBORAL', 'CAROLINA',
       'CAUCASIA', 'CHIGORODÓ', 'CISNEROS', 'COCORNÁ', 'CONCEPCIÓN',
       'CONCORDIA', 'COPACABANA', 'DABEIBA', 'DONMATÍAS', 'EBÉJICO',
       'EL BAGRE', 'ENTRERRÍOS', 'ENVIGADO', 'FREDONIA', 'FRONTINO',
       'GIRALDO', 'GIRARDOTA', 'GÓMEZ PLATA', 'GRANADA', 'GUADALUPE',
       'GUARNE', 'GUATAPÉ', 'HELICONIA', 'HISPANIA', 'ITAGÜÍ', 'ITUANGO',
       'JARDÍN', 'JERICÓ', 'LA CEJA', 'LA ESTRELLA', 'LA PINTADA',
       'LA UNIÓN', 'LIBORINA', 'MACEO', 'MARINILLA', 'MONTEBELLO',
       'MURINDÓ', 'MUTATÁ', 'NARIÑO', 'NECOCLÍ', 'NECHÍ', 'OLAYA',
       'PEÑOL', 'PEQUE', 'PUEBLORRICO', 'PUERTO BERRÍO', 'PUERTO NARE',
       'PUERTO TRIUNFO', 'REMEDIOS', 'RETIRO', 'RIONEGRO', 'SABANALARGA',
       'SABANETA', 'SALGAR', 'SAN ANDRÉS DE CUERQUÍA', 'SAN CARLOS',
       'SAN FRANCISCO', 'SAN JERÓNIMO', 'SAN JOSÉ DE LA MONTAÑA',
       'SAN JUAN DE URABÁ', 'SAN LUIS', 'SAN PEDRO DE LOS MILAGROS',
       'SAN PEDRO DE URABÁ', 'SAN RAFAEL', 'SAN ROQUE',
       'SAN VICENTE FERRER', 'SANTA BÁRBARA', 'SANTA ROSA DE OSOS',
       'SANTO DOMINGO', 'EL SANTUARIO', 'SEGOVIA', 'SONSÓN', 'SOPETRÁN',
       'TÁMESIS', 'TARAZÁ', 'TARSO', 'TITIRIBÍ', 'TOLEDO', 'TURBO',
       'URAMITA', 'URRAO', 'VALDIVIA', 'VALPARAÍSO', 'VEGACHÍ', 'VENECIA',
       'VIGÍA DEL FUERTE', 'YALÍ', 'YARUMAL', 'YOLOMBÓ', 'YONDÓ',
       'ZARAGOZA'], dtype=object)

In [58]:
dfdata['titulo'].unique()

array(['Casa Campestre en Venta Rionegro Vereda Guayabito',
       'Finca en Venta El Retiro Arcadia',
       'VIVARI DE SAN NICOLAS San Nicolás - Rionegro', ...,
       'Casa en Venta Guarne VEREDA EL SANGO',
       'Casa en Venta Rionegro Vereda Carmin',
       'Apartamento en Venta La Ceja cra 20'], dtype=object)

In [59]:
# Agrega una nueva columna al DataFrame dfdata con valores vacíos
dfdata['Nombre Municipio'] = pd.Series(['']*len(dfdata))

# Itera sobre cada fila del DataFrame dfdata y busca una coincidencia entre las palabras en 'titulo' y 'Nombre Municipio' en el DataFrame dfubi.
for i in range(len(dfdata)):
    for word in dfdata.iloc[i]['titulo'].split():
        if word.upper() in df_antioquia['Nombre Municipio'].str.upper().values:
            dfdata.at[i, 'Nombre Municipio'] = word.upper()

In [60]:
dfdata.head()

,tipo,url,titulo,precio,area,habitaciones,banos,garajes,descripcion,Balcón,...,Zona de lavandería,Zonas Verdes,Supermercados / C.Comerciales,Instalación de gas,Parqueadero Visitantes,Colegios / Universidades,Parques cercanos,Zona Residencial,Closet,Nombre Municipio
0,Usada,https://www.fincaraiz.com.co/casa-campestre-en...,Casa Campestre en Venta Rionegro Vereda Guayabito,$ 1.380.000.000,"320,00 m²",5,6,2,Propiedad moderna con muy buenos acabados. Her...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RIONEGRO
1,Usada,https://www.fincaraiz.com.co/finca-en-venta/el...,Finca en Venta El Retiro Arcadia,$ 2.900.000.000,"1,00 Ha",4,5,Sin especificar,propiedad con casa principal de 4 habitaciones...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RETIRO
2,Nueva,https://www.fincaraiz.com.co/vivari-de-san-nic...,VIVARI DE SAN NICOLAS San Nicolás - Rionegro,$ 496.122.600,"91,97 m2",3,3,1,"6234794 Vivari San Nicolás, es un conjunto res...",1.0,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,RIONEGRO
3,Usada,https://www.fincaraiz.com.co/casa-en-venta/san...,Casa en Venta San Antonio de Pereira villas de...,$ 570.000.000,"150,00 m²",3,3,1,Casa en venta en Villas de Gualanday por 580 m...,1.0,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,
4,Usada,https://www.fincaraiz.com.co/casa-en-venta/mar...,Casa en Venta Marinilla Monteverde,$ 290.000.000,"106,00 m²",3,3,1,Gran oportunidad Vendo casa unifamiliar no pag...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MARINILLA

In [62]:
dfdata['Nombre Municipio'].unique()

array(['RIONEGRO', 'RETIRO', '', 'MARINILLA', 'GUARNE', 'BETANIA',
       'ALEJANDRÍA', 'YARUMAL', 'BELLO', 'MEDELLÍN', 'ABEJORRAL'],
      dtype=object)

In [63]:
df_merged = pd.merge(dfdata, df_antioquia, on='Nombre Municipio')
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2150 entries, 0 to 2149
Data columns (total 29 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   tipo                                             2150 non-null   object
 1   url                                              2150 non-null   object
 2   titulo                                           2150 non-null   object
 3   precio                                           2150 non-null   object
 4   area                                             2150 non-null   object
 5   habitaciones                                     2150 non-null   object
 6   banos                                            2150 non-null   object
 7   garajes                                          2150 non-null   object
 8   descripcion                                      2150 non-null   object
 9   Balcón                                           1094 non-null   float64
 10  Trans. Público cercano                           1252 non-null   float64
 11  estrato                                          2077 non-null   object
 12  antiguedad                                       1731 non-null   object
 13  Cocina Integral                                  1429 non-null   float64
 14  Baño Auxiliar                                    943 non-null    float64
 15  Zona de lavandería                               1104 non-null   float64
 16  Zonas Verdes                                     962 non-null    float64
 17  Supermercados / C.Comerciales                    795 non-null    float64
 18  Instalación de gas                               858 non-null    float64
 19  Parqueadero Visitantes                           698 non-null    float64
 20  Colegios / Universidades                         760 non-null    float64
 21  Parques cercanos                                 893 non-null    float64
 22  Zona Residencial                                 1065 non-null   float64
 23  Closet                                           778 non-null    float64
 24  Nombre Municipio                                 2150 non-null   object
 25  Código Departamento                              2150 non-null   object
 26  Código Municipio                                 2150 non-null   float64
 27  Nombre Departamento                              2150 non-null   object
 28  Tipo: Municipio / Isla / Área no municipalizada  2150 non-null   object
dtypes: float64(14), object(15)
memory usage: 503.9+ KB

In [64]:
df_merged.head()

,tipo,url,titulo,precio,area,habitaciones,banos,garajes,descripcion,Balcón,...,Parqueadero Visitantes,Colegios / Universidades,Parques cercanos,Zona Residencial,Closet,Nombre Municipio,Código Departamento,Código Municipio,Nombre Departamento,Tipo: Municipio / Isla / Área no municipalizada
0,Usada,https://www.fincaraiz.com.co/casa-campestre-en...,Casa Campestre en Venta Rionegro Vereda Guayabito,$ 1.380.000.000,"320,00 m²",5,6,2,Propiedad moderna con muy buenos acabados. Her...,1.0,...,NaN,NaN,NaN,NaN,NaN,RIONEGRO,05,5615.0,ANTIOQUIA,Municipio
1,Nueva,https://www.fincaraiz.com.co/vivari-de-san-nic...,VIVARI DE SAN NICOLAS San Nicolás - Rionegro,$ 496.122.600,"91,97 m2",3,3,1,"6234794 Vivari San Nicolás, es un conjunto res...",1.0,...,NaN,NaN,NaN,NaN,NaN,RIONEGRO,05,5615.0,ANTIOQUIA,Municipio
2,Nueva,https://www.fincaraiz.com.co/altos-de-santana/...,ALTOS DE SANTANA Oriente Antioqueño - Rionegro,$ 360.002.000,"73,37 m2",3,3,Sin especificar,6351568 Proyecto de apartamentos de 2 y 3 habi...,NaN,...,NaN,1.0,NaN,NaN,NaN,RIONEGRO,05,5615.0,ANTIOQUIA,Municipio
3,Usada,https://www.fincaraiz.com.co/casa-en-venta/rio...,Casa en Venta Rionegro Llano Grande,$ 1.350.000.000,"282,00 m²",4,5,4,Casa en venta en exclusiva unidad cerrada en ...,1.0,...,NaN,1.0,NaN,1.0,1.0,RIONEGRO,05,5615.0,ANTIOQUIA,Municipio
4,Usada,https://www.fincaraiz.com.co/casa-en-venta/rio...,Casa en Venta Rionegro El Porvenir,$ 950.000.000,"230,00 m²",3,3,2,Hermosa casa de 3 niveles en Venta en Lotus Ex...,NaN,...,NaN,NaN,NaN,NaN,NaN,RIONEGRO,05,5615.0,ANTIOQUIA,Municipio

In [18]:
dfmerged = df_merged.to_csv('dfmerged', index=False)